@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  font-family: "Comfortaa", cursive;
}

body {
  min-height: 100vh;
  background-color: #000;
  overflow-x: hidden !important;
}

.font-style-2 {
  font-family: "Source Sans Pro", sans-serif;
}

.img-style-home {
  margin: auto 0;
  width: 100%;
}

.btn-get-started {
  /* width: 25%; */
  /* height: 15%; */
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #ff7a00;
}

.card-style {
  border: none;
  border-radius: 1em;
  padding: 0px !important;
}

.card-img-style {
  margin: 0px;
  border-radius: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.main-container {
  margin-top: 3%;
}
.font-style-2 {
  font-weight: 300 !important;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.left .wrap img {
  height: 50vh;
}
.left .wrap h3 {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 128%;
  /* or 83px */

  display: flex;
  align-items: center;
  letter-spacing: 0.065em;

  color: #ffffff;
}

.right {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.right.small {
  height: 60vh;
}

.right .flex-column h4 {
  margin: 10%;
}
.right .flex-column {
  width: 60%;
}
.right input {
  background-color: #fff3e8;
  border: 1px solid #e3d8ef;
  border-radius: 10px;
  height: 50px;
}
.right input:focus {
  background-color: #fff3e8;
  border: 1px solid #e3d8ef !important;
  box-shadow: 0 0 0 0.25rem rgba(145, 99, 194, 0.25);
  border-radius: 10px;
  height: 50px;
}
.right button {
  background-color: #ff7a00;
  box-shadow: 0px 43px 80px rgba(250, 203, 133, 0.23) !important;
  border-radius: 10px;
  padding: 3% 10%;
  border: none;
}
.right h6 a {
  color: #ff7a00;
  text-decoration: none;
}
.right h6 {
  letter-spacing: 0.065em;
}

.event-detail-img {
  /* height: 60%; */
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.card-style-event-detail {
  /* height: 60%; */
  border-radius: 1em;
}

.sponsor-icon {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 0.5em;
}

.btn-register {
  width: 100%;
  height: 4rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #ff7a00;
  border-color: #ff7a00;
}

/* 
@media screen and (max-width: 768px) {
  .event-detail-img {
    height: 100%;
  }

  .card-style-event-detail {
    height: 100%;
  }
} */
