{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-2">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col mt-3">
            <div class="card card-style">
                <img src="{% static 'images/EventCardImg.png' %}" alt="" class="card-img-top card-img-style">
                <div class="card-body">
                    <p class="card-text text-dark">Example event. Register now, or don't register, I don't care!</p>
                    <p class="text-muted">April 30, 2022</p>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card card-style">
                <img src="{% static 'images/EventCardImg.png' %}" alt="" class="card-img-top card-img-style">
                <div class="card-body">
                    <p class="card-text text-dark">Example event. Register now, or don't register, I don't care!</p>
                    <p class="text-muted">April 30, 2022</p>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card card-style">
                <img src="{% static 'images/EventCardImg.png' %}" alt="" class="card-img-top card-img-style">
                <div class="card-body">
                    <p class="card-text text-dark">Example event. Register now, or don't register, I don't care!</p>
                    <p class="text-muted">April 30, 2022</p>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card card-style">
                <img src="{% static 'images/EventCardImg.png' %}" alt="" class="card-img-top card-img-style">
                <div class="card-body">
                    <p class="card-text text-dark">Example event. Register now, or don't register, I don't care!</p>
                    <p class="text-muted">April 30, 2022</p>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card card-style">
                <img src="{% static 'images/EventCardImg.png' %}" alt="" class="card-img-top card-img-style">
                <div class="card-body">
                    <p class="card-text text-dark">Example event. Register now, or don't register, I don't care!</p>
                    <p class="text-muted">April 30, 2022</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}