{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-light p-2 d-flex flex-column gap-3">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-8 mt-4">
            <img src="{% static 'images/EventCardImg.png' %}" alt="" class="event-detail-img">
        </div>

        <div class="col-md-4 mt-4 text-dark">
            <div id="event-info" class="card card-style-event-detail pt-4">
                <div class="row justify-content-between">
                    <h3 class="col mt-2 text-center">Event Title</h3>

                    <div class="col pin-container">
                        <svg class="pin" width="32" height="32" viewBox="0 0 16 16">
                            <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
                        </svg>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text"><b>Starts at:</b> June 1, 2022 15:00</p>
                    <p class="card-text"><b>Ends at:</b> June 2, 2022 15:00</p>
                    <p class="card-text"><b>Venue:</b> Community auditorium, Institute, City, State, Country</p>
                    <button class="btn btn-primary btn-register">Register Now</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-8">
            <h4>About the event</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.</p>
        </div>
        <div class="col-md-4">
            <h4>Sponsors</h4>
            <div class="d-flex gap-2">
                <div class="sponsor-icon"></div>
                <div class="sponsor-icon"></div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-8">
            <h4>FAQ</h4>
            <div>
                <p>Question</p>
                <p>Answer</p>
            </div>
            <div>
                <p>Question</p>
                <p>Answer</p>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Have a different query?</h4>
            <form action="#">
                <input type="text" placeholder="Ask a question..." class="form-control" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}